<% breadcrumb :portfolio %>

<div id="pageBodyMain">
  <section>
    <h1 class="pageTitle">つくったもの</h1>

    <article class="articleList">
      <a href="pf03">
        <div class="articleListText">
          <h1>バッタになりたい魔法使い</h1>
          <p>コモモ･ひろましゃ制作のWeb仕掛け絵本<br>
          合い言葉は、バッタになっちゃえ！</p>
        </div>
        <div class="articleListImage">
          <img src="/portfolio/images/index_03.jpg" width="300" height="163" alt="">
        </div>
      </a>
    </article>

    <article class="articleList">
      <a href="pf02">
        <div class="articleListText">
          <h1>WordPress<br>
          デザインワークブック</h1>
          <p>コモモとひろましゃ二人の共著によるWordPressで本格的なウェブサイト制作したい方向けの書籍</p>
        </div>
        <div class="articleListImage">
          <img src="/portfolio/images/index_02.jpg" width="300" height="163" alt="">
        </div>
      </a>
    </article>

    <article class="articleList">
      <a href="pf01">
        <div class="articleListText">
          <h1>Cafe Debut</h1>
          <p>baserCMSのカフェサイト用汎用テーマ<br>
          テーマコンテスト2012飲食店系テーマ賞受賞</p>
        </div>
        <div class="articleListImage">
          <img src="/portfolio/images/index_01.jpg" width="300" height="163" alt="">
        </div>
      </a>
    </article>
  </section>
<!-- end #pageBodyMain -->
</div>

<div id="pageBodySub">
  <nav class="localNavi">
    <ul>
      <li><a href="pf03">バッタになりたい魔法使い</a></li>
      <li><a href="pf02">WordPressデザインワークブック</a></li>
      <li><a href="pf01">Cafe Debut</a></li>
    </ul>
  </nav>
  <section class="newList">
    <h2>おしらせ</h2>
    <ul>
      <li><time datetime="2013-10-01">2013.10.01</time>コモモとモリコで、書籍「HTML/CSSの教科書(仮題)を執筆中です。お楽しみに。」</li>
      <li><time datetime="2013-10-01">2013.10.01</time>コモモ・モリコ・ひろましゃ3人のサイト「komorikomasha」をオープンしました。</li>
    </ul>
  </section>
<!-- end #pageBodySub -->
</div>
