<% breadcrumb :new %>
<div id="pageBodyMain">
  <article class="articleDetail">
    <h1 class="pageTitle">おといあわせフォーム</h1>
    <p>このサイトについてのご意見･ご質問は、下記フォームより受け付けています。</p>
    <!-- posts -->
    <%= render 'form' %>
    <%= link_to 'Back', contact_index_path %>
    <!-- posts -->
  </article>
</div>

<div id="pageBodySub">
  <section class="newList">
    <h2>おしらせ</h2>
    <ul>
      <li><time datetime="2013-10-01">2013.10.01</time>コモモとモリコで、書籍「HTML/CSSの教科書(仮題)を執筆中です。お楽しみに。」</li>
      <li><time datetime="2013-10-01">2013.10.01</time>コモモ・モリコ・ひろましゃ3人のサイト「komorikomasha」をオープンしました。</li>
    </ul>
  </section>
</div>