<% breadcrumb :about %>

<div id="pageBodyMain">
    <article class="articleDetail">
        <h1 class="pageTitle">わたしたちについて</h1>
        <div class="imageCenter">
            <img src="/about/images/img_01.png" alt="We are komorikomasha" width="202" height="253">
        </div>
        <p>あんなこといいな。できたらいいな。</p>
        <p>みんなで力を合わせれば、今までできなかったこと、きっとできるようになる。</p>
        <p>ちょっと大変な時でも、仲間と一緒ならがんばれる。だから、いつでも楽しいこと考えよう。やってみよう、つくってみよう。</p>
        <p>このサイトでは、コモモ・モリコ・ひろましゃのメンバーが勢いでつくったものを紹介しています。</p>
    </article>
<!-- end #pageBodyMain -->
</div>

<div id="pageBodySub">
    <section class="newList">
        <h2>おしらせ</h2>
        <ul>
            <li><time datetime="2013-10-01">2013.10.01</time>コモモとモリコで、書籍「HTML/CSSの教科書(仮題)を執筆中です。お楽しみに。」</li>
            <li><time datetime="2013-10-01">2013.10.01</time>コモモ・モリコ・ひろましゃ3人のサイト「komorikomasha」をオープンしました。</li>
        </ul>
    </section>
<!-- end #pageBodySub -->
</div>




